auto-install-peers=true
# strict-peer-dependencies=false
# link-workspace-packages=deep
# shared-workspace-lockfile=false

public-hoist-pattern[]=*@rainbow-me*
public-hoist-pattern[]=*@types/react*
public-hoist-pattern[]=*wagmi*
public-hoist-pattern[]=*@ethersproject*
public-hoist-pattern[]=*ethers*
# shamefully-hoist=true
