@import '@rainbow-me/rainbowkit/styles.css';
.storybook-button {
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	border: 0;
	border-radius: 3em;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
}
.storybook-button--primary {
	color: white;
	background-color: #1ea7fd;
}
.storybook-button--secondary {
	color: #333;
	background-color: transparent;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
	font-size: 12px;
	padding: 10px 16px;
}
.storybook-button--medium {
	font-size: 14px;
	padding: 11px 20px;
}
.storybook-button--large {
	font-size: 16px;
	padding: 12px 24px;
}

.form {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.form__title {
  letter-spacing: 1px;
  font-weight: 600;
}

.form__status {
  color: #666;
  margin-bottom: 20px;
}

.form__label {
  font-size: .8em;
  font-weight: bold;
}

.form__input {
   width: 200px;
  height: 25px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid darkgrey;
}

.form__button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: white;
  background-color: rgb(48, 150, 184);
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

.form__button–submitting {
  background-color: darkgrey;
}

.form__button–submitted {
  background-color: limegreen;
}
